name: Build

on:
  push:
    branches:
      - main
  workflow_dispatch:
    branches:
      - main
      - dev

jobs:
  build_web:
    name: Build web
    runs-on: ubuntu-latest
    env:
      SSH_USER: ${{ secrets.SSH_USER }}
      SSH_KEY: ${{ secrets.SSH_KEY }}
      SSH_HOST: ${{ secrets.SSH_HOST }}
      API_KEY: ${{ secrets.API_KEY }}
    steps:
      - name: Checkout source code
        uses: actions/checkout@v3
      - name: Install Flutter
        uses: subosito/flutter-action@v2
        with:
          channel: 'stable'
      - name: Get packages in a Flutter project
        run: flutter pub get
      - name: Clean
        run: flutter clean
      - name: Build web
        run: flutter build web --web-renderer html --dart-define=API_KEY=$API_KEY --release
      - name: Configure SSH
        run: |
          mkdir -p ~/.ssh/
          echo "$SSH_KEY" > ~/.ssh/staging.key
          chmod 600 ~/.ssh/staging.key
          cat >>~/.ssh/config <<END
          Host staging
            HostName $SSH_HOST
            User $SSH_USER
            IdentityFile ~/.ssh/staging.key
            StrictHostKeyChecking no
          END
      - name: Copy files to vm
        run: |
          ssh staging 'rm -r /var/www/html/*'
          scp -r build/web/ staging:/var/www/html
          ssh staging 'mv /var/www/html/web/* /var/www/html/'
          ssh staging 'rm -r /var/www/html/web'
          